@import '../../style.scss';

.post-view-modal {
    @include themify($themes) {
        .modalContent {
            display: flex;
            flex-direction: column;
            width: 800px;
            height: auto;
            min-height: 300px;
            max-height: calc(100vh - 50px);
            background: themed("background", 3);
            border-radius: 5px;

            >.top {
                min-height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #222;
                border-radius:  5px 5px 0 0;
                background: var(--main-gradient);
                position: relative;
                h2{
                    font-size: 22px;
                    color: #222 !important;
                }
                .close{
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;right: 0;
                    top: 0;
                }
            }
            >.body{
                flex-grow: 1;
                overflow-y: auto;
                .post-card{
                    margin-bottom: 0;
                    .footer{
                        display: none !important;
                    }
                }
                .post-card-skeleton{
                    margin-bottom: 0;
                }
            }
            >.footer{
                position: sticky;
                background: themed("background",3);
                bottom: 0;
                z-index: 10;
                border-radius: 0 0 5px 5px;
                & .top{
                    padding: 10px;
                    
                }
                & .bottom{
                    height: 48px;
                    border-top: 1px solid themed("border",2);
                    padding: 0 10px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    color: themed("text",2) !important;
                    
                }
            }
        }
    }
}