@import '../../style.scss';

.eval-item{
    @include themify($themes){
        height: 50px;
        a{
            color: themed("text",2);
        }
        .left{
            width: max-content;
            height: max-content;
            .badge{
                position: absolute;
                right: -8px;
                border: 2px solid themed("background",3);
                bottom: -1px;
                font-size: 13px;
                gap: 3px;
                height: 23px;
            }
        }
    }
}