@import '../../style.scss';

.music-home {
    @include themify($themes) {
        .top {
            border-radius: 5px !important;
        }



    }
}

.music-top-nav {
    @include themify($themes) {
        padding: 10px 15px;
        background: themed("background", 3);
        margin-bottom: 4px;
        box-shadow: var(--elevation-1);
        border-radius: 5px;

        .slider-nav {
            padding: 0 !important;
            margin: 0;

            ul {
                padding: 0;

                li {
                    box-shadow: none;

                    &:not(.active) {
                        background: themed("background", 5);
                    }
                }
            }

        }
    }
}

.top-music-slider,
.last-music-slider {
    @include themify($themes) {
        background: themed("background", 3);
        box-shadow: var(--elevation-1);
        padding: 15px 15px 30px 15px;
        padding-right: 0;
        border-radius: 5px;


        .slick-track {
            display: flex;
            gap: 10px;
        }

        .top-musique-slide {
            background: themed("background", 5);
            aspect-ratio: 16/9;
            border-radius: 5px;
            width: 380px !important;

            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                object-fit: cover;
                object-position: left;
                border-radius: inherit;
            }

            >.capt {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 100px 10px 10px 10px;
                background: rgba(44, 44, 44, 0.274);
                backdrop-filter: blur(5px);
                border-radius: 0 0 5px 5px;
                -webkit-mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1) 70%);
                mask-image: linear-gradient(transparent, rgba(0, 0, 0, 1));

                >h1 {
                    color: white;

                    font-size: 15px;
                    font-weight: 500;

                }

                >span {
                    color: rgba(255, 255, 255, 0.808);
                    font-size: 14px;
                }
            }


        }
    }
}

.top-artist-slider {
    @include themify($themes) {
        border-radius: 5px;
        background: themed("background", 3);
        box-shadow: var(--elevation-1);
        padding: 15px 15px 30px 15px;
        padding-right: 0;


        .slick-track {
            display: flex;
            gap: 10px;
        }

        .top-artist-slide {
            display: flex !important;
            align-items: center !important;
            text-align: center;
            flex-direction: column;
            border-radius: 5px;
            padding: 10px;
            cursor: pointer;
            transition: .5s;

            &:hover {
                background: themed("background", 5);
            }

            h1 {
                color: themed("text", 2);
                font-size: 15px;
                margin-top: 5px;
            }


        }
    }
}

.flag-avatar {
    position: relative;
    width: min-content;
    margin-right: 6px;

    .avatar {
        img {
            height: 40px;
            width: 40px;
        }
    }

    >img {
        width: 28px;
        position: absolute;
        bottom: 0;
        right: -10px;
        border: 1px solid var(--orange);
    }
}