@import '../../style.scss';

#hotelsReservation {
  @include themify($themes) {
    color: themed('text',0);
    .nav {
      height: 70px;
      background: themed('background', 3);
      box-shadow: var(--elevation-1);
    }

    .hotels-container {
      >div {
        max-width: 1100px;
        margin: 0 auto;

        .hotels-header {
          margin: 0 15px;
          background: themed('background', 3);
          box-shadow: var(--elevation-1);

          .hotels-nav {
            display: flex;
            gap: 15px;
            padding: 15px;
            color: themed('text', 4);

            span {
              &:hover {
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }

          .body-hotels {
            display: grid;
            width: 100%;
            grid-template-areas:
              'item-b item-b item-a item-e'
              'item-b item-b item-c item-d';
            gap: 2px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 5px;
            }

            .item-a {
              grid-area: item-a;
              overflow: hidden;
            }

            .item-b {
              grid-area: item-b;
              overflow: hidden;

              .text {
                position: absolute;
                z-index: 5;
                color: white;
                bottom: 5px;
                left: 10px;
                display: flex;
                gap: 5px;
                align-items: center;
              }
            }

            .item-c {
              grid-area: item-c;
              overflow: hidden;
            }

            .item-d {
              grid-area: item-d;
              overflow: hidden;
            }

            .item-e {
              grid-area: item-e;
              overflow: hidden;
            }
          }

          .body-hotels-slider {
            display: none;
            transition: 0.5s;
            position: relative;

            .text-body{
              position:absolute;
              bottom: 10px;
              right: 10px;
              z-index: 3;
              height: 50px;
              width: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(0, 0, 0, 0.761);
              border-radius: 50px;
              gap:10px;
              span{
                color:white;
              }
            }
           
            .body-item-hotels {
              overflow: hidden;
              height: 250px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .description-hotel {
          margin: 0 15px;
          padding: 15px;
          border-radius: 5px;
          background: themed('background', 3);
          box-shadow: var(--elevation-1);

          .description-title {
            padding: 15px 0;
          }

          .description-body {
            display: flex;
            gap: 15px;

            .description-left {
              flex: 1;

              .description-left-title {
                .title {
                  display: flex;
                  gap: 20px;
                  align-items: center;
                  padding: 10px 0;
                  height: 75px;

                  li:first-child {
                    span {
                      font-size: 40px;
                      font-weight: bold;
                    }
                  }

                  li {
                    font-size: 20px;

                  }

                  .gems {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .rating-diamond-img {
                      width: 20px;
                      height: 20px;
                    }
                  }
                }

                .title-text {
                  font-size: 18px;
                  color: themed('text', 2);
                  padding: 10px 0;
                }

                .item-gems {
                  ul {
                    li {
                      display: flex;
                      align-items: center;
                      gap: 15px;
                      height: 40px;

                      .rating-diamond-img {
                        width: 25px;
                        height: 25px;
                      }
                    }
                  }
                }

                .description-categorie {
                  .description-categorie-title {
                    padding: 5px 0;
                    font-weight: bold;
                  }

                  .descirption-categorie-container {
                    display: flex;
                    gap: 15px;

                    .description-categorie-item {
                      flex: 1;

                      ul {
                        li:first-child {
                          display: flex;
                          align-items: center;
                          gap: 15px;

                          span {
                            font-size: 14px;
                            font-weight: bold;
                            color: themed('text', 3);
                          }
                        }

                        li {
                          padding: 5px 0
                        }

                        li:nth-of-type(3) {
                          p:first-child {
                            font-size: 12px;
                            font-weight: bold;
                            color: themed('text', 3);
                          }

                          p {
                            padding: 2px 0;
                          }
                        }
                      }
                    }

                    .description-categorie-item {
                      flex: 1;

                      p:first-child {
                        font-size: 12px;
                        font-weight: bold;
                        color: themed('text', 3);
                      }

                      p {
                        padding: 5px 0;
                      }

                    }
                  }
                }
              }


            }

            .description-right {
              flex: 1;

              .description-right-title {
                padding: 15px 0;

                span {
                  font-size: 16px;
                  font-weight: bold;
                }
              }

              .description-gride {
                display: grid;
                height: auto;
                grid-template-columns:
                  repeat(auto-fit,
                    minmax(min(200px, 100%), 1fr));

                grid-gap: 15px;

                .description-item {
                  height: 75px;
                  display: flex;
                  align-items: center;
                  gap: 15px;
                  font-size: 20px;
                }
              }
            }
          }
        }

        .connexion {
          background: themed('background', 3);
          margin: 15px 15px 0 15px;
          border-radius: 5px;
          box-shadow: var(--elevation-1);

          .connection-boutom {
            display: flex;
            justify-content: flex-end;

            button {
              background: purple;
              height: 40px;
              width: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              border: 1px solid themed('border', 3);
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }

        .description-search {
          margin: 0 0 15px 0;

          .search-container {
            padding: 0 15px;
            display: flex;
            gap: 15px;
            font-weight: bold;
            border-radius: 5px;

            .search-container-item {
              background: themed('background', 3);
              flex: 1;
              display: flex;
              gap: 15px;
              align-items: center;
              padding: 5px;
              border-radius: 5px;
              cursor: pointer;
              border: 1px solid rgba(128, 128, 128, 0.53);
              &:hover{
                background:rgba(109, 107, 107, 0.123) !important
              }
            }

            .search-container-item-right {
              background: themed('background', 3);
              flex: 2;
              border: 1px solid rgba(128, 128, 128, 0.53);
              display: flex;
              gap: 15px;
              align-items: center;
              padding: 5px;
              border-radius: 5px;
              cursor: pointer;
              &:hover{
                background:rgba(109, 107, 107, 0.123) !important
              }

            }
          }

        }

        .gride-card {
          display: grid;
          height: auto;
          padding: 0 15px;
          grid-template-columns: repeat(auto-fit,
              minmax(min(300px, 100%), 1fr));

          grid-gap: 15px;

          .gride-card-item {
            background: themed('background', 3);
            display: flex;
            flex-direction: column;
            gap: 5px;
            border-radius: 5px !important;
            box-shadow: var(--elevation-1);

            .caroseul {
              flex: 1;


              .caroseul-titre {
                position: absolute;
                bottom: 10px;
                right: 20px;
                gap: 10px;
                font-size: 20px;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 100px;
                background: rgba(0, 0, 0, 0.385);
                color: white;
                border-radius: 50px;
              }

              >div {
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 5px 5px 0 0;
                }
              }
            }

            .caroseul-content {
              flex: 2;
              padding: 15px;

              .caroseul-body {
                padding: 5px;

                ul {
                  li {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                  }
                }

                p {
                  color: blue;

                  &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                  }
                }
              }

              .caroseul-body-2 {
                .caroseul-content-2 {
                  ul {
                    li {
                      display: flex;
                      align-items: center;
                      gap: 5px;
                      height: 40px;
                    }
                  }
                }
              }

            }
          }

        }

        .other-card {
          padding-bottom: 15px;

          .title-other {
            padding: 15px;
          }

          .caroseul-slider {
            .slick-track {
              display: flex;
              gap: 15px;

              .slick-slide {
                border: 1px solid themed('border', 3);
                border-radius: 5px;
                background: themed('background', 3);
                box-shadow: var(--elevation-1);
              }
            }


            .caroseul-item {
              box-shadow: var(--elevation-1);

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px 5px 0 0;
              }

              .img-caroseul {
                height: 125px;
              }

            }

            .caroseul-content {
              padding: 10px;

              .caroseul-title {
                padding: 5px 0;
                font-size: 14px;
              }

              .caroseul-body {

                li:first-child {
                  display: flex;
                  align-items: center;
                  gap: 15px;

                  .rating-diamond-img {
                    width: 20px;
                    height: 20px;
                  }
                }

                li {
                  padding: 5px 0;
                }

                .postion {
                  display: flex;
                  align-items: center;
                  gap: 5px;
                  border-bottom: 1px solid themed('border', 3);
                }
              }
            }

            .caroseul-body-item {
              display: flex;
              justify-content: flex-end;
              align-items: center;
              gap: 15px;
              padding-top: 10px;

              button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 125px;
                height: 30px;
                background: var(--orange);
                border-radius: 5px;
                color: white;
                border: none;
                cursor: pointer;
              }

              p {
                font-weight: bold;
                font-size: 20px;
              }
            }
          }
        }

        .postion-hotels {
          padding: 5px 15px 15px 15px;
          margin: 15px 15px 0 15px;
          border-radius: 5px;
          box-shadow: var(--elevation-1);
          background: themed('background', 3);

          .map-hotels {
            padding: 5px 0;
            height: 200px;
            .leaflet-container{
              border-radius: 5px;
            }
          }

          .hotels-content {
            .hotels-content-item {
              .hotels-restaurant {
                ul {
                  li {
                    p {
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }

              .footer {
                color: blue;
                cursor: pointer;

                &:hover {
                  text-decoration: underline;
                }
              }

              .rating-diamond-img {
                width: 25px !important;
                height: 25px !important;
              }
            }
          }
        }

        .grid-avis {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 0 15px 15px 15px;


          .avis-card {
            background: themed('background', 3);
            border-radius: 5px;
            box-shadow: var(--elevation-1);


            .card-title {
              .avatar {
                height: 40px;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 50px;
                }
              }
            }

            .content-body {
              ul {
                li {
                  .rating-diamond-img {
                    width: 20px !important;
                    height: 20px !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width:768px) {
  .description-body {
    display: flex;
    flex-direction: column;
  }

  .body-hotels{
  display: none !important;
  }

  
  .body-hotels-slider {
    display: block !important;
  }
 

  .hotels-content {
    display: flex;
    flex-direction: column;
  }
}