@import "../../style.scss";

#equipment-service {
  @include themify($themes) {
    max-width: 1000px;
    margin: auto;

    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
    }
    .info-container{
      padding: 15px;
      margin-top: 15px;
      input[type="number"]{
        height: 40px;
        width: 60%;
        border-radius: 5px;
        padding: 15px;
      }
    }
    .container {
      margin-top: 15px;
      padding: 15px;
      padding-bottom: 0;
      .item {
        padding: 15px 0;

        border-bottom: 1px solid themed("border", 2);
        &:last-child {
          border: none;
        }
        h4 {
          margin-top: 10px;
        }
        li {
          color: themed("text", 4);
          // font-weight: 400;
        }
        .head {
          display: flex;
          justify-content: space-between;
          ul {
            display: flex;
            gap: 5px;
            li {
              background-color: themed("background", 5);
              border-radius: 5px;
              display: flex;
              align-items: center;
              padding: 15px;
              height: 40px;
              cursor: pointer;
              &.active {
                background-color: themed("mainColor", purple);
                color: white;
              }
            }
          }
        }
        .complement {
          padding: 0 15px 15px;
          border: 1px solid themed("border", 2);
          border-radius: 5px;
          .box {
            margin-top: 20px;
            &:first-child{
              margin-top: 15px;
            }
            input[type="text"] {
              margin-top: 10px;
              height: 40px;
              width: 60%;
              padding: 15px;
              border-radius: 5px;
            }
            input[type="time"]{
              margin-top: 5px;
              height: 40px;
              width: 100px;
              padding: 15px;
              border-radius: 5px;
            }
            .input-container {
              margin-top: 5px;
              > div {
                width: 22%;
                label , span{
                  margin-bottom: 0;
                  color: themed("text", 4);
                  font-size: 13px
                }
              }
              &.checkbox {
                flex-wrap: wrap;
                gap: 10px;
              }
            }
          }
          .select{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            >div{
              width: calc(50% - (15px/2));
            }
          }
        }
      }
    }
  }
}
