@import '../../style.scss';

#hotel-admin{
    @include themify($themes){
        .nav{
            height: 50px;
        }
        .hotel-admin-container{
            .hotel-admin-nav {
                background: themed("background", 3);
                border-radius: 6px;
                padding: 8px;
                margin-top: 15px;

                >ul {
                    display: flex;

                    >li {
                        flex: 1;
                            max-width: 90px;
                            padding: 0;
                        a {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            border-radius: 5px;
                            padding: 3px 0;
                            font-weight: themed("weight", 700);
                            color: themed("text",0);
                            &.active {
                                background: themed("background", 5);
                            }
                        }
                    }

                }
            }
        }
    }
}