@import "../../style.scss";

.reservation-details {
    width: 1200px;
    margin: auto;
  @include themify($themes) {
    .btn-purple {
      background-color: transparent;
      color: themed("mainColor", purple);
      border: 1px solid themed("mainColor", purple);
    }
    h2 {
      padding: 15px 0;
    }
    .reservation-left {
      width: 800px;
    }
    .reservation {
      span {
        font-weight: 700;
        margin-top: 7px;
      }
      .left {
        width: 33%;
        > div {
          margin-bottom: 15px;
        }
        .important {
          font-size: 16px;
        }
      }
      .right {
        flex: 1;
        > div {
          margin-bottom: 15px;
        }
        a {
          display: block;
          font-size: 15px;
        }
        .nom {
          margin-top: 7px;
          img {
            width: 23px;
            box-shadow: var(--elevation-1);
            align-self: flex-start;
          }
          p {
            font-size: 15px;
            font-weight: 600;
          }
        }
        .deux-colone {
          > div {
            width: 50%;
          }
        }
      }
    }
    .tarif {
      .head {
        padding-bottom: 15px;
        border-bottom: 1px solid themed("border", 2);
        > div {
          span {
            font-size: 15px;
            font-weight: 600;
          }
        }
      }
      .bottom {
        margin-top: 15px;
        .left {
          > div {
            margin-bottom: 15px;
          }
          span {
            font-weight: 600;
            margin-top: 7px;
          }
        }
        .right {
            width: 100%;
          table {
            width: 100%;
            border-collapse: collapse;
            tr {
              border-bottom: 1px solid #ddd;
              &:last-child {
                border: none;
              }
            }
            th,
            td {
              font-size: 14px;
              color: themed("text", 3);
              padding: 8px;
              text-align: left;
              &:last-child {
                text-align: end;
              }
            }
            .total {
              background-color: themed("background", 5);
            }
          }
        }
      }
    }
    .reservation-right{
        flex: 1;
        .action{
            button{
                width: 91%;
                margin-bottom: 15px;
            }
            h3{
                font-size: 15px;
                margin-bottom: 15px;
            }
            .paiement{
                button +div{
                    margin-bottom: 15px;
                    small{
                        color: map-get($red,primary ) !important;
                    }
                }
                .status{
                    .selection{
                        padding: 15px;
                        height: 40px;
                        border: 1px solid themed('border',1);
                        border-radius: 5px;
                        margin-top: 5px;
                    }
                }
            }

        }

    }
    .conversation{
      h4{
        border-bottom: 1px solid themed('border',1);
        padding-bottom: 15px;
      }
      .message {
        height: 400px;
        overflow-y: auto;
        border-bottom: 1px solid themed("border", 1);
        padding: 0 0 15px;
        .incoming,
        .outgoing {
          margin-top: 15px;
          align-items: flex-end;
          .text {
            padding: 15px;
            width: 60%;
            p {
              font-size: 13px;
            }
          }
        }
        .incoming {
          .text {
            background-color: var(--orange-transparent);
            border-radius: 15px 15px 15px 0;
          }
        }
        .outgoing {
          flex-direction: row-reverse;
          margin-right: 15px;
          .text {
            background-color: themed("background", 5);
            border-radius: 15px;
          }
        }
      }
      .bottom {
        display: flex;
        align-items: flex-end;
        margin-top: 15px;
        height: 40px;
        min-height: 40px !important;
        gap: 10px;
        border-radius: 5px;
        // background-color: themed('background',5);
        textarea {
          border-radius: 5px;
          min-height: auto !important;
          flex: 1;
          margin: 0;
          height: 100%;
          min-height: 40px !important;
          padding: 10px;
          resize: none;
          overflow-wrap: break-word !important;
          position: relative;
        }
        .action {
          color: themed("text", 3);
          height: 40px;
          align-items: center;
          gap: 8px;
          > div {
            cursor: pointer;
          }
          .send {
            display: flex;
            align-items: center;
            gap: 5px;
            color: white;
            background-color: themed("mainColor", purple);
            border-radius: 5px;
            padding: 10px;
            height: 35px;
            span {
              color: white !important;
            }
          }
        }
      }
    }
  }
}
