@import '../../style.scss';

.navbar-explorer {

    @include themify($themes) {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
        height: 80px;
        margin-bottom: -80px;
        background: linear-gradient(rgba(14, 14, 14, 0.979) -40%, rgba(14, 14, 14, 0.014) 95%);

        transition: .3s;

        // box-shadow: var(--elevation-1);
        // border-bottom: 1px solid themed("border", 2);
        position: sticky !important;
        top: 0 !important;
        z-index: 100;

        &:not(.top) {
            height: 60px;
        margin-bottom: -60px;
            margin-top: 0 !important;
            background: themed('background', 3);
            box-shadow: var(--elevation-1);
            border-bottom: 1px solid themed("border", 2);
            a{
                color: themed("text",5) !important;
                padding-top: 8px;
                &.active{
                    color: themed("mainColor",purple) !important;
                    &::before{
                        top: -4px !important;
                        background: themed("mainColor",purple) !important;
                    }
                }
            }
            .item-right {
    
                .container-right {
                    color: themed('text',2);
                    background: themed('background', 5);
                    padding: 10px;
                    border-radius: 5px;
                }
            }
        }

        .topbar-logo img {
            height: 30px;
            width: auto !important;
        }



        .item-center-navbar {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .item-center {
                width: 100%;

                .svg-container {
                    padding: 15px;

                    a {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 3px;
                        position: relative;

                        span {
                            font-size: 12px;
                        }
                    }

                    a.active {

                        // background: themed('background',5);
                        span {
                            font-weight: bold;
                        }

                        &::before {
                            content: "";
                            width: 30px;
                            height: 3px;
                            background: white;
                            position: absolute;
                            top: -18px;
                            border-radius: 0 0 8px 8px;
                            left: calc(50% - 15px);
                        }

                        display: flex;

                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;

                        &:hover {
                            border-radius: 5px;
                            // background: themed('background', 5);

                        }
                    }

                }

                .svg {
                    color: white;
                }
            }

        }

        .item {
            display: flex;
            align-items: center;
            justify-content: center;



        }

        .item-right {
            display: flex;
            align-items: center;
            gap: 10px;

            .container-right {
                color: white;
                // background: themed('background', 5);
                padding: 10px;
                border-radius: 5px;
            }
        }
    }
}