@import '../../style.scss';

#explorer-container {
    @include themify($themes) {
        position: relative;

        h1 {
            font-size: 36px;

        }


        .country-slide {
            position: relative;
            // margin-top: -70px;

        }

        .country-details {
            display: flex;
            background: themed('background', 3);
            color: themed('text', 2);
            padding-top: 50px;

            .country-details-section-right {
                width: 17%;
                padding: 40px 0 0 10px;

                .stickyBar {
                    padding: 20px;
                    border-radius: 8px;
                    box-shadow: var(--elevation-1);
                }

                .country-details-heading {
                    margin-bottom: 5px;
                    margin: 0px 0px 0px 10px
                }

                .country-details-list {
                    padding-top: 10px;

                    ul li {

                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
                        padding: 10px;
                        border-radius: 5px;

                        .country-details-item {
                            margin-right: 25px;
                            color: themed('text', 2);
                            background: themed('background', 2);
                            padding: 10px;
                            border-radius: 5px;

                        }

                        &:hover {
                            background: themed('gradient', main);
                            color: black;
                        }
                    }
                }
            }

            .country-details-section-center {
                display: block;
                width: calc(100% - 15%);
                padding: 40px 0 0 10px;
                margin-right: 10px;


                .country-details-navbar {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .country-details-navbar-item-left {
                    display: flex;
                    background: themed('background', 0);
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border-radius: 5px;
                }

                .country-details-content {
                    display: flex;
                    margin-top: 10px;

                    .country-detail-content-item-right {
                        display: block;

                        p {
                            font-size: 16px;
                        }
                    }

                    .country-detail-content-item-left {
                        margin-left: 10px;

                        img {
                            width: 100%;
                        }
                    }
                }

                .geographie-detail-content {
                    margin-top: 20px;

                    .geographie-detail-title {
                        margin-bottom: 10px;
                    }

                    .geographie-detail-item {
                        display: flex;

                        .geographie-detail-left {
                            width: 70%;
                            margin-left: 10px;

                            .geographie-detail-left-item {
                                padding-top: 10px;

                                h3 {
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                }
                            }
                        }

                        .geographie-detail-right {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .divertisement {

            display: flex;
            width: 100%;







            .travel {
                width: 60%;
                padding: 5px;

                .top-destination {
                    background: themed('background', 3);
                    border-radius: 5px;
                    box-shadow: var(--elevation-1);
                    padding: 10px;
                    margin-bottom: 5px;

                    .slick-track {
                        display: flex;
                        gap: 15px
                    }
                }
            }

            .invest {
                width: 40%;
                box-shadow: var(--elevation-1);
                padding: 20px;
                background: themed('background', 3);

                .invest-content {
                    border-radius: 5px;
                    padding: 20px;

                    p {
                        padding: 0;
                    }

                    .invest-gride {
                        display: grid;
                        height: auto;
                        grid-template-columns: repeat(1, 1fr);

                        .invest-gride-item {
                            overflow: hidden;
                            height: 100px;
                            position: relative;
                            display: flex;
                            align-items: center;
                            grid-gap: 20px;

                            p {
                                font-weight: themed('weight', 800);
                                color: themed('text', 2);
                            }

                            .invest-gride-svg {
                                font-size: 25px;
                                background: themed('background', 5);
                                height: 50px;
                                min-width: 50px;
                                border-radius: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: themed('mainColor', purple);
                            }
                        }
                    }
                }

                .invest-text {
                    padding-top: 50px;

                    h1 {
                        color: themed('text', 1);
                    }

                    .invest-text-content {

                        .invest-text-item {

                            .invest-li {
                                display: flex;
                                align-items: center;
                                gap: 20px;
                                padding: 20px;

                                h1,
                                p {
                                    padding: 0;
                                }

                                h1 {
                                    font-size: 15px;


                                }

                                p {
                                    font-size: 13px;
                                    color: themed('text', 2);
                                }

                                img {
                                    width: 75px;
                                }
                            }
                        }


                    }
                }
            }


            .travel-caroseul {

                &:hover {

                    .custom-left,
                    .custom-right {
                        opacity: 1 !important;
                    }
                }

                .custom-left,
                .custom-right {
                    transition: 0.5s;
                    opacity: 0 !important;
                }



            }

            h1,
            p {
                padding: 10px;

            }

            h1 {
                font-size: 25px;
                color: themed('text', 1);
            }

            a {
                color: themed('mainColor', purple);

                &:hover {
                    color: themed('mainColor', purple);
                    text-decoration: underline;
                }
            }



            .ville {
                background: themed('background', 3);
                border-radius: 5px;
                box-shadow: var(--elevation-1);
                padding: 10px;
                margin-bottom: 5px;

                .ville-title {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }


                .ville-carouseul {
                    .slick-track {
                        display: flex;
                        gap: 15px
                    }

                    &:hover {

                        .custom-left,
                        .custom-right {
                            opacity: 1 !important;
                        }
                    }

                    p {
                        padding: 0;
                    }

                    .custom-left,
                    .custom-right {
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        border-radius: 5px;
                        background-color: rgba(13, 13, 13, 0.573);
                        color: white !important;
                        opacity: 0;
                        transition: 0.5s;
                    }

                    .custom-left {
                        left: 20px;
                    }

                    .custom-right {
                        right: 20px;

                    }

                    .custom-Right,
                    .custom-left {
                        color: black;
                    }

                    .ville-item-premier {
                        overflow: hidden;
                        border-radius: 5px;
                        aspect-ratio: 1;
                        cursor: pointer;

                        >div {
                            position: absolute;
                            top: 80%;
                            left: 5%;
                            z-index: 1;

                            p:first-child {
                                color: #f3f3f3;
                                font-weight: bold;
                            }

                            p:nth-child(2) {
                                color: #f3f3f3;
                            }
                        }

                        img {
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            transition: 0.5s;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }

                    .ville-item {
                        overflow: hidden;
                        border-radius: 5px;
                        cursor: pointer;

                        >div {
                            p:first-child {
                                font-weight: bold;
                                color: themed('text', 0);
                            }

                            p:nth-child(2) {
                                color: themed('text', 0);

                            }
                        }

                        img {
                            aspect-ratio: 16/9;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            .nature {
                background: themed('background', 3);
                border-radius: 5px;
                box-shadow: var(--elevation-1);
                padding: 10px;
                margin-bottom: 5px;

                .grille-item-nature {
                    height: auto;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 15px;
                    align-items: center;
                    cursor: pointer;
                    margin-left: 15px;

                }

                .grille-item {
                    overflow: hidden;
                    height: 200px;
                    position: relative;

                    .grille-item-content {
                        position: absolute;
                        z-index: 1;
                        top: 80%;

                        p {
                            color: white;
                            font-weight: bold;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        transition: 0.5s;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }

                }
            }

            .video {
                background: themed('background', 3);
                border-radius: 5px;
                box-shadow: var(--elevation-1);
                padding: 10px;
                margin-bottom: 5px;

                .video-title {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                .video-carouseul {
                    .slick-track {
                        display: flex;
                        gap: 15px
                    }

                    &:hover {

                        .custom-left,
                        .custom-right {
                            opacity: 1 !important;
                        }
                    }

                    p {
                        padding: 0;
                    }

                    .custom-left,
                    .custom-right {
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        border-radius: 5px;
                        background-color: rgba(13, 13, 13, 0.573);
                        color: white !important;
                        opacity: 0 !important;
                        transition: 0.5s;
                    }

                    .custom-left {
                        left: 20px;
                    }

                    .custom-right {
                        right: 20px;

                    }

                    .custom-Right,
                    .custom-left {
                        color: black;
                    }



                    .video-item {
                        //  &::before{
                        //    content: "";                           
                        //    position: absolute;
                        //    width: 100%;
                        //    height: 100%;
                        //    background-color: rgba(0, 0, 0, 0.286);
                        // }

                        overflow: hidden;
                        border-radius: 5px;
                        cursor: pointer;

                        .video-item-text {
                            position: absolute;
                            z-index: 2;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            margin: 10px;

                            p {
                                color: white;
                            }

                        }

                        .video-item-svg {
                            position: absolute;
                            z-index: 1;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 50px;
                            color: white;
                            padding: 10px;
                            background-color: black;
                            border-radius: 50px;
                        }

                        img {
                            aspect-ratio: 0.5;
                            width: 100%;
                            object-fit: cover;
                            transition: 0.5s;
                            filter: grayscale(70%);
                            transform: 0.5s;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }

            .reservation {
                background: themed('background', 3);
                border-radius: 5px;
                box-shadow: var(--elevation-1);
                padding: 8px;

                .reservation-content {
                    display: flex;
                    gap: 5px;

                    .reservation-item-left {

                        width: 25%;
                        background: linear-gradient(#702f80, #35353cb3);

                        >div {
                            h1 {
                                color: themed('text', 2);
                            }

                            p {
                                color: themed('text', 3);

                            }
                        }
                    }

                    .reservation-carouseul {
                        width: 75%;

                        .slick-track {
                            display: flex;
                            gap: 0px;
                        }

                        .item-carouseul {
                            height: calc(100vh - 350px);
                            padding: 5px;
                            .custom-left,
                            .custom-right {
                                background: none !important;
                                color: white!important;
                                opacity: 0 !important;
                                transition: 0.5s !important;
                            }

                            .item-top-price{
                                position: absolute;
                                top:10%;
                                left: 40%;
                                z-index: 2;
                                background-color: rgba(0, 0, 0, 0.462);

                                p{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                
                                    height: 50px;
                                    color: white;
                                }
                            }


                            .item-top {
                                .slick-track {
                                    display: flex !important;
                                    gap: 0 !important;
                                }

                                &:hover{
                                    .custom-left,
                                    .custom-right {
                                      
                                        opacity: 1 !important;
                                    }
                                }
                                height: 50%;

                                .sliderTop {
                                    .carouseulItem {
                                        img{
                                            width: 100%;
                                            object-fit: cover;
                                            height: 169px;
                                        }
                                    }


                                }

                            }

                            .item-bottom {
                                height: 50%;
                                box-shadow: var(--elevation-1);
                                h1 {
                                    padding: 0;
                                    color: themed('text', 2);
                                    font-size: 14px;
                                    padding:15px
                                }

                                p {
                                    padding: 0;
                                    color: themed('text', 3);
                                    padding:15px

                                }
                            }

                        }
                    }
                }
            }
        }
    }
}