@import "../../style.scss";

.searchbar {
    @include themify($themes) {
        padding: 2px;
        border-radius: 5px;
        
        position: relative;
        
        z-index: 1000 !important;
        &.expandable{
            width: 45px;
            overflow: hidden;
            transition: .5s;
            &:not(.expanded){
                padding-left: 0px;
            }
            &.expanded{
                width: 100% !important;
                flex-grow: 1;
            }
        }
        &:active{
            background: themed("background", 3);
            box-shadow:  -1px -1px 5px #0000005d, 1px -1px 6px #00000028;
            .suggests{
                position: absolute;
                height: 300px;
                width: 100%;
                top: calc(100% - 5px);
                background: inherit;
                box-shadow:  -1px 5px 5px #00000054, 1px 5px 6px #0000001e;
                border-radius: 0 0 5px 5px;
            }
        }
        .input {
            background: themed("background", 5);
            border-radius: 5px;
            height: 35px;
            padding: 0 10px;
            width: 100%;
            /* border: 1px solid var(--border-grey); */
        }

        .icon-left {
            margin-top: 3px;
            color: themed("text", 3);
            margin-right: 10px;
            margin-left: 5px;
        }


        input {
            all: unset;
            flex-grow: 1;
            min-width: 0;
            font-size: 14px;
            border: none !important;
            box-shadow: none !important;
        }

    }
}