@import "../../style.scss";

:root {
    --bottom-nav-height: 62px;
}

#bottom-nav {
    @include themify($themes) {
        background: themed("background",3);
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 1000;
        border-top: 1px solid themed("border",2);
        padding: 9px 0 5px 0;
        height: var(--bottom-nav-height);
        & nav {
            flex-grow: 1;
            & ul {
                width: 100%;
                & li {
                    line-height: 16px;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    & a {
                        display: flex;
                        color: themed("text",3);
                        width: 66px;
                        max-width: 66px;
                        position: relative;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1px;
                        padding-top: 3px;
                        position: relative;
                        & span {
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                    & a.active {
                        background: themed("background",5);
                        color: var(--purple);
                        & * {
                            color: themed("mainColor",purple);
                        }
                    }
                    & a.active::before {
                        content: "";
                        background: themed("mainColor",purple);
                        position: absolute;
                        width: 20px;
                        height: 4px;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -9px;
                        border-radius: 0 0 5px 5px;
                    }
                }
            }
        }
    }
}




#bottom-nav>nav>ul>li>.searchbar {
    margin-left: 10px;
}