@import '../../style.scss';

.artists-list-skeleton{
    @include themify($themes){
        >*{
            border-radius: 5px;
            box-shadow: var(--elevation-1);
            background: themed("background",3);
        
        }
        >.top{
            height: 50px;
        }
        >.bottom{
            height: 50px;
        }
    }
}