@import "../../style.scss";

.discussion-skeleton {
    @include themify($themes) {
        margin-bottom: 5px;
        >div {
            width: 100%;
        }
        .skeleton{
            animation-duration: 2s !important;
        }
    }
}