@import '../style.scss';

#add-hotel-layout {
    @include themify($themes) {
        margin-top: 69px;

        h2 {
            margin-bottom: 15px;
            color: themed('text', 2);
        }

        .top {
            margin: 0 auto;
            .multi-page-step-timeline {
                margin: 40px 0;
                display: flex;
                margin: 30px -1px;

                >div {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    position: relative;
                    border-radius: 2px;
                    background: themed('background',4);
                    border: 1px solid themed('background',0);
                    height: 8px;

                    &.active {
                            background: var(--orange);
                    }

                }

            }
        }

        >.center {
            max-width: 1100px;
            margin: auto;
            margin-bottom: 15px;
        }

        form {
            width: 700px;
            .body,.footer {
                background: themed('background', 3);
                border-radius: 5px;
                padding: 15px;
                box-shadow: var(--elevation-1);
            }

            .footer {
                margin-top: 5px;
                padding: 10px 15px;
            }
        }
    }
}