@import '../style.scss';

.music-main{
    min-height: calc(100vh - var(--topbar-height));
    position: sticky;
    top: 56px;
    .music-center{
        min-width: 0;
        padding: 5px;
    }
    .inside-sticky{
        min-height: calc(100vh - var(--topbar-height));
        display: flex;
        flex-direction: column;
    }
}