@import "../../style.scss";


.job-finding-searchbar {
    @include themify($themes) {
        padding: 25px 0 8px 0;
        background-image: linear-gradient(315deg, #9f98e8 0%, #f6daaf 74%);
        box-shadow: var(--nav-elevation);
        position: sticky;
        top: -48px;
        z-index: 900;
        .search-form {
            bottom: 30px;
            height: 50px;
            border-radius: 5px;
            display: flex;
            justify-content: stretch;
            align-items: center;
            background: themed("background",6);
            box-shadow: var(--nav-elevation);
            padding: 0 10px;
            color: themed("text",4);
            font-weight: 400;
            border-top: 1px solid themed("border",2);
            margin-top: 20px;
        }
    }
}

.job-finding-searchbar>div {
    max-width: 900px;
}


.job-finding-searchbar .search-form>*:not(:last-child) {
    flex-grow: 1;
    border-right: 1px solid #c2c1c1;
    margin-right: 30px;
}

.job-finding-searchbar>* svg {
    color: var(--orange);
}

@media (max-width:768px) {
    .job-finding-searchbar {
        position: static;
        padding: 15px;
    }

    .job-finding-searchbar .search-form {
        flex-wrap: wrap;
        height: unset;
        padding: 12px !important;
        gap: 8px;
    }

    .job-finding-searchbar .search-form>* {
        height: 45px;
        border: 1px solid #eee;
        display: flex;
        width: calc(50% - 4px);
        align-items: center;
        padding: 0 10px;
        border-radius: 5px;
        margin: 0 !important;
    }

    .job-finding-searchbar .search-form>*:last-child {
        flex-grow: 1;
        border-right: none;
        margin-right: 30px;
        padding: 0;
        height: unset;
    }

    .job-finding-searchbar .search-form button {
        width: 100% !important;
        height: 45px;
    }

}