#image-page{
}
#image-page > .right{
    min-width: 460px;
    max-width: 460px;
    background: white;
    box-shadow: var(--elevation-1);
    min-height: 100%;
}
#image-page > .right > .header{
    border-bottom: 1px solid #eee;
}
#image-page > .right > .footer{
    position: sticky;
    background: white;
    bottom: 0;
    z-index: 10;
}
#image-page > .right > .footer > .top{
    padding: 10px;
}
#image-page > .right > .footer > .bottom{
    height: 48px;
    border-top: 1px solid #eee;
    padding: 0 10px;
}
#image-page > .right > .body{
    min-height: calc(100vh - var(--topbar-height));
}
#image-page > .right > .body > .post-content{

}
#image-page > .left{
    height: calc(100vh - 59px);
    position: sticky;
    top: var(--topbar-height);
}
#image-page > .left > .top{
    min-height: calc(100% - 60px);
    max-height: calc(100% - 60px);
    background: black;
}
.single-post-img{
    max-height: 100% !important;
    max-width: 100% !important;
    object-fit: cover;
}

#image-page > .left > .top > .next-slide-btn,#image-page > .left > .top > .prev-slide-btn{
    background: rgba(84, 84, 84, 0.5);
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    
}
#image-page > .left > .top > .prev-slide-btn{
    left: 10px;
}
#image-page > .left > .top > .next-slide-btn{
    right: 10px;
}

.post-imgs-preview > .thumb{
    position: relative;
    height: 40px;
    width: 40px;
    background: white;
    border-radius: 5px;
    box-shadow: var(--elevation-1);
    border-bottom: 2px solid #b8b8b8 !important;
}
.post-imgs-preview > .thumb > img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    left: 0;
    top: 0;
    object-fit: cover;
}
.post-imgs-slide-actions{
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}
.post-imgs-slide-actions > *{
    background: rgba(84, 84, 84, 0.719);
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--elevation-1);
}
.background-post-img,.background-post-img-glass{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.background-post-img-glass{
    background: #19171baf;
    backdrop-filter: blur(20px);
}


.link-input{
    display: flex;
    align-items: center;
    padding: 8px;
    background: #f3f3f3;
    border-radius: 5px;
    height: 35px;
    font-size: 14px;
    color: #555;

}
.link-input > button{
    width: 25px;
    height: 25px;
    color: white;
    background: var(--purple);
    border: none;
    border-radius: 5px;
}
.post-comments-tabs{
    margin: 0 -10px !important;
    
}
.tabs-heading li.active::after{
    bottom: -10px;
}
.post-comments-tabs > .top{
    padding: 0 10px;
    border-bottom: 1px solid #eee;
    height: 56px;
    font-weight: 500;
    position: sticky;
    top: 58px;
    background: white;
    z-index: 10;
}
.post-comments-tabs .tabs-heading li{
    width: auto !important;
    height: 36px;
    padding: 0 10px;
    color: #000000b7;
}
.post-comments-tabs .tabs-heading li span{
    font-size: 14px !important;
}
.post-comments-tabs .tabs-heading li.active span{
    color: var(--orange);
}